{% extends "account/email/email_base.html" %}

{% load i18n %}

{% block content %}
  <h2>{% blocktrans with user.first_name as first_name %}Dear {{ first_name }},{% endblocktrans %}</h2>

  <p>{% blocktrans with user.first_name as first_name %}
    Hi {{ first_name }},
    We're sorry to see you go. Your account on the Data Science Cohort has been successfully closed.
    If you have any questions or feedback, please don't hesitate to contact us.
  {% endblocktrans %}</p>
{% endblock content %}
