{% extends "account/email/email_base.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with user.first_name as first_name and password_reset_timeout as p_reset_timeout %}
Hi {{ first_name }},<br>
You're receiving this email because you requested a password reset for your account. 
Please click the link below to reset your password:

<a href="{{ password_reset_url }}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
    Reset Password
</a>
<br>
This link will expire in {{ p_reset_timeout }} hours.
{% endblocktrans %}

{% endblock content %}
