{% extends "account/email/email_base.html" %}
{% load i18n %}

{% block content %}

    <h2>{% blocktrans with user.first_name as first_name %}Dear {{ first_name }},{% endblocktrans %}</h2>
    <p>{% blocktrans with user.first_name as first_name %}
        Hi {{ first_name }},<br>
        We've noticed that you haven't been active on our Data Science Cohort platform recently. 
        We'd love to have you back! There's a lot of exciting content and learning opportunities waiting for you.

        <p>To make your return even more rewarding, we're offering you a special discount on our premium subscription. 
            Use code <b>REENGAGE</b> at checkout to get 20% off!</p>

        We hope to see you back soon!
    {% endblocktrans %}</p>
{% endblock content %}
